<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>


<!-- Seccion about-->

<div class="container">
<div class="row pt-5">
    <div class="col-xl-5">
        <div class="about">
            <div class="sec-title">
                <h5>About us</h5>
                <h2>Best Agency For <br> Your Pet</h2>
            </div>
            <div class="sec-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                <div class="button-box">
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <img src="assets/imgs/video-gallery-bg.jpg" class="img-fluid" alt="">
    </div>
</div>
</div>


<!-- Seccion Photo ShowCase-->
<div class="show-case pt-5">
<div class="container">
    <div class="sec-title">
        <h5>// <span>Show Case</span> //</h5>
    </div>
</div>
</div>

<!-- Seccion skillset -->
<section class="skillset-area">
<div class="container">
    <div class="row">
        <div class="col-xl-6"></div>
        <div class="col-xl-6">
            <div class="skillset-content">
                <div class="sec-title">
                    <h5>// <span>Skillset</span> //</h5>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq ua.Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Counter area -->
<section>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="counter-box">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="count-box">
                            <h2>378</h2>
                            <h5>Active Clients</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="count-box">
                            <h2>378</h2>
                            <h5>Country Coverage</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="count-box">
                            <h2>378</h2>
                            <h5>Pet Deliver</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="count-box">
                            <h2>378</h2>
                            <h5>Get Rewards</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

</body>
</html>


