<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
</head>
<body>
    <div>
        <div id="banner">
           
          <div style="text-align: center;">
            <h1 >Contáctanos</h1>
            <button>Home</button>
          </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div>
                        <h2>Correo Electrónico</h2>
                        <p>MascotVet.gmail.com</p>
                      </div>
                </div>
                <div class="col">
                    <div>
                        <h2>Números Telefónicos</h2>
                        <p>+51 954 617 658</p>
                        <p>+51 949 096 088</p>
                      </div>
                </div>
                <div class="col">
                    <div>
                        <h2>Dirección</h2>
                        <p>Av. La Fontana #222, Lima-Perú</p>
                      </div>
                </div>
                <div class="col">
                    <div>
                        <h2>Redes Sociales</h2>
                        <p>fb.com/webexample</p>
                        <p>tw.com/webexample</p>
                      </div>
                </div>
              </div>
        </div>
        <div id="formulario">
          <form action="">
            
          </form>
        </div>
      </div>
</body>
</html>
