<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./user-profile.component.css">
</head>
<body>
  <section class="profile-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="profile-info">
            <img src="https://t3.ftcdn.net/jpg/03/64/62/36/360_F_364623623_ERzQYfO4HHHyawYkJ16tREsizLyvcaeg.jpg"
              alt="Foto de Perfil">
            <div>
              <h2>Nombre de Usuario</h2>
              <p class="text-muted">usuario</p>
              <p>usuarioexample.com</p>
            </div>
          </div>

        </div>
        <div class="col col-lg-2 align-self-end">
          <button type="button" class="btn btn-dark">Editar Profile</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container profile-details">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">Breve descripción sobre el usuario.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <img src="https://t3.ftcdn.net/jpg/03/64/62/36/360_F_364623623_ERzQYfO4HHHyawYkJ16tREsizLyvcaeg.jpg"
              alt="Foto de Perfil">
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                🐈Mi Mascota🐶
              </div>
              <img src="https://t3.ftcdn.net/jpg/03/64/62/36/360_F_364623623_ERzQYfO4HHHyawYkJ16tREsizLyvcaeg.jpg"
              alt="Foto de Perfil">
            </div>
          </div>
      </div>
    </div>
  </section>
    
</body>
</html>
